<div id="background"></div>
<div class="container">

<h3 class="text-center">Stock Listing</h3>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Ticker</th>
      <th>Current Price</th>
      <th>Market Cap</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
    <% if stock.user_id == current_user.id && %>
    <% begin %>
        <% @stock_quote = StockQuote::Stock.quote(stock.ticker) %>
      <% rescue StandardError %>
        <% next %>
      <% end %>
      <tr>
        <td><%= link_to @stock_quote.company_name, stock %></td>
        <td><%= stock.ticker %></td>
        <td>US$ <%= @stock_quote.latest_price %></td>
        <td>US$ <%= @stock_quote.market_cap  / 1000000000 %> bn</td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Stock', new_stock_path, class: "btn btn-primary" %>

</div>
