
<div id="background"></div>
<div class="container">

  <div class="row">
    <h2 class="text-center text">Stock Market Price Watch</h2>
    <div class="col-sm-4 col-sm-offset-4">
      <!-- <h2 class="text-center">Stock Market Price Watch</h2> -->
      <br>

      <div class="form-group">
        <%= form_tag root_path, :method => 'POST' do %>
        <%= text_field_tag 'id', nil, placeholder: "Enter Company Ticker Symbol", size: 20, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= submit_tag 'Current Stock Information', class: 'btn btn-primary btn-block' %>
      </div>
      <% end %>
      <br>

      <% if @stock %>
      <div class="text-center text">

      <strong>Company Name: </strong><%= @stock.company_name %><br/>
      <strong>Latest Price: </strong><%= @stock.latest_price %><br/>
      <strong>P/E Ratio: </strong><%= @stock.pe_ratio %><br/>
      <strong>Market Cap: </strong><%= @stock.market_cap / 1000000000 %> bn<br/>
      <strong>Previous Close: </strong><%= @stock.previous_close %><br/>
      <strong>Stock Open: </strong><%= @stock.open %><br/>
      <strong>Year High: </strong><%= @stock.week52_high %><br/>
      <strong>Year Low: </strong><%= @stock.week52_low %><br/>
      <% elsif @noentry %>
      <%= @noentry %>
      <% end %>

      <% if @error %>
        <%= @error %>
        <% end %>
        </div>
    </div>
  </div>
</div>





